@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

.wrapper {
  text-align: center;
  margin: 0 auto; }

.btn {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.846;
  border-width: 1px;
  border-color: white;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 223px;
  height: 50px;
  outline: none;
  cursor: pointer;
  background: #fff;
  /* запасной цвет для старых браузеров */
  background: rgba(255, 255, 255, 0.001);
  margin-right: 30px; }
  .btn:hover {
    background-color: #e74e3e;
    border: none; }

.container {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  color: #f4f5f9;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative; }
  .container-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    z-index: 99; }
    .container-nav .logo {
      margin-left: 200px; }
    .container-nav .nav-item ul {
      display: flex;
      font-size: 14px;
      color: #f4f5f9;
      margin-top: 12px; }
      .container-nav .nav-item ul li {
        margin-right: 55px; }
        .container-nav .nav-item ul li :hover {
          color: #e74e3e; }
        .container-nav .nav-item ul li a {
          position: relative;
          color: #f4f5f9;
          cursor: pointer;
          line-height: 1;
          text-decoration: none; }
        .container-nav .nav-item ul li a:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          margin-top: 22px;
          width: 0;
          height: 2px;
          background-color: #e74e3e;
          transition: width 0.3s ease-out; }
        .container-nav .nav-item ul li a:hover:after,
        .container-nav .nav-item ul li a:focus:after {
          width: 100%;
          color: #e74e3e; }
  .container .block-title {
    text-align: center;
    margin: 0 auto;
    width: 789px;
    padding-top: 235px;
    padding-bottom: 210px; }
    .container .block-title h4 {
      font-size: 24px;
      font-family: "Source Sans Pro", sans-serif; }
    .container .block-title h1 {
      font-size: 72px;
      padding-bottom: 41px; }
    .container .block-title .arrow-block {
      display: flex;
      position: absolute;
      left: 60px; }
      .container .block-title .arrow-block p {
        width: 45px;
        height: 45px;
        background: rgba(255, 255, 255, 0.3);
        position: relative;
        margin-right: 1700px;
        border-radius: 2px; }
        .container .block-title .arrow-block p:hover {
          background-color: #e74e3e; }
        .container .block-title .arrow-block p:hover .left {
          border-color: #fff; }
        .container .block-title .arrow-block p:hover .right {
          border-color: #fff; }
      .container .block-title .arrow-block i {
        border: solid #3d3630;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
        margin-top: 13px; }
      .container .block-title .arrow-block .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-right: 10px; }
      .container .block-title .arrow-block .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-left: 10px; }
    .container .block-title .header-decor {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-bottom: 45px; }
      .container .block-title .header-decor .lineOne {
        border-width: 1px;
        border-color: #f1ebe7;
        border-style: solid;
        width: 78px;
        height: 0px;
        transform: rotate(180deg);
        margin-top: 2px;
        margin-right: 12px; }
      .container .block-title .header-decor .dot {
        border-radius: 50%;
        background-color: #e74c3c;
        width: 8px;
        height: 7px; }
      .container .block-title .header-decor .lineTwo {
        border-width: 1px;
        border-color: #f1ebe7;
        border-style: solid;
        width: 78px;
        height: 0px;
        transform: rotate(180deg);
        margin-top: 2px;
        margin-left: 12px; }
    .container .block-title .info-header {
      text-align: center;
      padding-bottom: 67px; }
    .container .block-title .header-button {
      z-index: 99;
      padding-bottom: 207px; }
  .container .icon-block .hr {
    position: absolute;
    bottom: 225px;
    width: 100%;
    border-width: 1px;
    border-color: #d8d9db;
    border-style: solid; }
  .container .icon-block svg {
    position: absolute;
    left: 48%;
    bottom: 140px; }

.main-title h1 {
  font-size: 36px;
  color: #6a6a6a;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  margin-bottom: 20px; }

.main-title p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px; }

.header-decor {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 70px; }
  .header-decor .lineOne {
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    width: 78px;
    height: 0px;
    transform: rotate(180deg);
    margin-top: 2px;
    margin-right: 12px; }
  .header-decor .dot {
    border-radius: 50%;
    background-color: #e74c3c;
    width: 8px;
    height: 7px; }
  .header-decor .lineTwo {
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    width: 78px;
    height: 0px;
    transform: rotate(180deg);
    margin-top: 2px;
    margin-left: 12px; }

.card {
  display: flex;
  flex-flow: row wrap;
  color: #fff; }
  .card-item {
    width: calc(100% / 4);
    height: 481px; }
  .card-item-red {
    background-color: #e74e3e;
    position: relative;
    display: inline-block; }
    .card-item-red .wrap-item {
      text-align: left;
      padding-left: 50px; }
    .card-item-red .subtitle {
      font-size: 14px;
      padding-top: 70px;
      padding-bottom: 30px; }
    .card-item-red .title {
      padding-bottom: 20px;
      font-size: 24px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600; }
    .card-item-red .red-block-decor {
      margin-bottom: 50px;
      border-width: 1px;
      border-style: solid;
      display: block;
      width: 44px;
      height: 4px;
      margin-top: 2px;
      background-color: #fff;
      margin-right: 12px; }
    .card-item-red p {
      padding-bottom: 45px;
      font-size: 16px;
      line-height: 1.875;
      width: 400px; }
    .card-item-red .btn-read {
      font-size: 18px;
      line-height: 1.333;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: #e74e3e;
      font-family: "Source Sans Pro", sans-serif;
      font-style: italic; }
      .card-item-red .btn-read i {
        border: solid #fff;
        border-width: 0px 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom: 1px;
        margin-left: 3px; }
      .card-item-red .btn-read .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
  .card div.card-item-red::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid;
    border-color: transparent #e74e3e transparent transparent;
    top: 50%;
    right: 100%;
    margin-top: -10px; }
  .card div.card-item-red:nth-child(5n)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid;
    border-color: transparent transparent transparent #e74e3e;
    top: 50%;
    left: 100%;
    margin-top: -10px; }
  .card div.card-item-red:nth-child(7n)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid;
    border-color: transparent transparent transparent #e74e3e;
    top: 50%;
    left: 100%;
    margin-top: -10px; }

.stat-section {
  background-image: url("../assets/background-main.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .stat-section .stat {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 155px 145px; }
    .stat-section .stat-item {
      margin-right: 145px; }
      .stat-section .stat-item p {
        display: grid;
        color: #fff;
        font-size: 24px;
        font-weight: bold; }
        .stat-section .stat-item p small {
          font-weight: normal;
          font-size: 17px; }
      .stat-section .stat-item img {
        margin-bottom: 50px; }

.price-section {
  margin-top: 150px; }
  .price-section .price-wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center; }
  .price-section .price-item {
    width: 380px;
    height: 608px;
    margin-right: 15px; }
    .price-section .price-item:hover .top-container {
      background-color: #e74e3e; }
    .price-section .price-item:hover small {
      color: #e74e3e; }
    .price-section .price-item:hover .bottom-container .btn-price {
      background-color: #e74e3e; }
    .price-section .price-item .top-container {
      background-color: #999999;
      height: 205px; }
      .price-section .price-item .top-container span {
        position: relative;
        z-index: 10;
        display: grid;
        top: 40px;
        font-weight: bold;
        font-size: 12px;
        color: #999999; }
      .price-section .price-item .top-container small {
        font-size: 32px; }
      .price-section .price-item .top-container p {
        padding: 50px 50px;
        font-size: 24px;
        font-weight: 600;
        color: #fff; }
      .price-section .price-item .top-container svg {
        position: relative;
        bottom: 65px; }
    .price-section .price-item .bottom-container {
      background-color: #f4f5f9;
      padding-top: 125px;
      color: #999999; }
      .price-section .price-item .bottom-container p {
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 600; }
      .price-section .price-item .bottom-container .btn-price {
        border-radius: 2px;
        background-color: #999999;
        width: 145px;
        height: 46px;
        box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;
        cursor: pointer;
        margin-bottom: 45px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase; }

.users-section {
  background-image: url("../assets/BackgroundUsers.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 9px;
  height: 745px; }
  .users-section .user-title h1 {
    padding-top: 150px;
    color: #fff; }
  .users-section .user-title p {
    color: #f4f5f9; }
  .users-section .red-line {
    position: relative;
    bottom: 240px;
    right: 5px; }
  .users-section .red-bg {
    position: relative;
    bottom: 760px; }
  .users-section .user-icons {
    position: absolute; }
    .users-section .user-icons img {
      position: relative;
      bottom: 480px;
      left: 372px; }
    .users-section .user-icons svg {
      bottom: 580px;
      left: 372px;
      position: relative;
      margin-right: 220px; }
      .users-section .user-icons svg:nth-child(2n) {
        position: relative;
        bottom: 600px; }
      .users-section .user-icons svg:nth-child(3n) {
        position: relative;
        bottom: 635px;
        margin-left: 100px; }
      .users-section .user-icons svg:nth-child(5n) {
        position: relative;
        bottom: 630px; }

.form-block {
  padding-top: 150px;
  padding-bottom: 145px;
  background-color: #f4f5f9; }
  .form-block img {
    position: relative;
    left: 800px;
    top: 175px; }
  .form-block .wrapper-form {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center; }
    .form-block .wrapper-form .form-info {
      width: 480px;
      height: 563px;
      background-color: #fff;
      margin-right: 25px;
      text-align: left;
      padding-left: 90px;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); }
      .form-block .wrapper-form .form-info p {
        font-size: 24px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        color: #e74e3e;
        margin-bottom: 28px;
        margin-top: 70px; }
      .form-block .wrapper-form .form-info span {
        font-size: 18px;
        color: #999999;
        display: grid;
        width: 265px; }
      .form-block .wrapper-form .form-info strong {
        font-weight: normal; }
    .form-block .wrapper-form .form-input {
      background-color: #fff;
      width: 665px;
      height: 563px;
      border-radius: 3px;
      background-color: white;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
      padding-left: 100px;
      padding-top: 100px;
      color: #b3b3b3;
      font-weight: 600;
      font-size: 14px; }
    .form-block .wrapper-form .form-input input,
    .form-block .wrapper-form textarea {
      display: block;
      width: 80%;
      padding: 0 10px;
      line-height: 40px;
      background: none;
      border-width: 0;
      border-bottom: 2px solid #e5e5e5;
      transition: all 0.2s ease;
      outline: none; }
    .form-block .wrapper-form .form-input input,
    .form-block .wrapper-form textarea::placeholder {
      font-weight: 600;
      color: #9f9f9f; }
    .form-block .wrapper-form .form-input textarea {
      height: 130px; }
    .form-block .wrapper-form .btn-form {
      background-color: #e74e3e;
      margin-top: 30px;
      margin-right: 400px;
      width: 157px;
      height: 44px;
      box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
      border: none; }

.container-footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  background-color: #202020;
  padding-top: 25px;
  padding-bottom: 25px; }
  .container-footer .social-footer {
    padding-left: 55px; }
  .container-footer .social-footer img:not(:last-child) {
    margin-right: 25px; }

.rights p {
  font-size: 14px;
  font-weight: 600;
  color: #7b7b7b;
  margin-right: 55px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container-nav {
    flex-direction: column; }
    .container-nav .logo {
      margin-left: 0; }
    .container-nav .nav-item ul {
      flex-direction: column;
      margin-left: 70px; }
      .container-nav .nav-item ul li {
        padding-bottom: 10px; }
        .container-nav .nav-item ul li a {
          color: #9e5f28; }
  .container .block-title {
    width: 115px;
    padding-top: 100px;
    padding-bottom: 0;
    color: black; }
    .container .block-title h4 {
      font-size: 16px; }
    .container .block-title h1 {
      font-size: 24px; }
    .container .block-title .arrow-block {
      display: none; }
  .container .icon-block svg {
    position: inherit; }
  .card {
    display: flex;
    flex-direction: column; }
    .card-item {
      margin-bottom: 10px; }
    .card .card-item-red {
      width: 480px; }
      .card .card-item-red .red-block-decor {
        margin-left: 200px; }
      .card .card-item-red .wrap-item {
        text-align: center; }
  .stat-section .stat {
    flex-direction: column;
    display: contents; }
    .stat-section .stat .stat-item {
      margin-right: 0;
      padding-top: 50px;
      padding-bottom: 25px; }
  .price-section .price-wrapper {
    flex-direction: column; }
  .price-section .price-item {
    width: 310px;
    margin-left: 5px; }
  .users-section .user-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .users-section .red-line {
    display: none; }
  .users-section .red-bg {
    display: none; }
  .users-section .user-icons svg:nth-child(odd) {
    bottom: 0;
    left: 0;
    position: relative;
    margin-right: 0;
    margin-left: 0; }
  .users-section .user-icons svg:nth-child(even) {
    bottom: 0;
    left: 0;
    position: relative;
    margin-right: 0;
    margin-left: 0; }
  .users-section .user-icons img {
    bottom: 0;
    left: 0; }
  .form-block .wrapper-form {
    flex-direction: column; }
  .form-block .wrapper-form .form-info {
    width: 315px;
    height: 363px;
    margin-bottom: 20px;
    padding-left: 20px; }
  .form-block .wrapper-form .form-input {
    width: 315px;
    height: 363px;
    padding-left: 50px; }
  .container-footer {
    display: block; }
    .container-footer .social-footer {
      padding-left: 0;
      margin-left: 0;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      padding-left: 10px; }
    .container-footer .rights {
      padding-left: 58px;
      padding-top: 8px; } }
